a{
    all: unset;
}

.youtube{
    color:red
}
.twitter{
        color:blue
}
.github{
    color:black
}


.profile-social-img{
    display:flex;
    gap:30px;
    align-items: center;
    justify-content: center;
}

.profile{
    text-align: center;
}

.language-taught-div{
text-align: center;
gap: 10px;
flex-wrap: wrap;
display: flex;
justify-content: center;


}

.language-taught{
    border: 1px solid black;
    padding: 8px;
}

.language-taught:hover{
    

}
