.main-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

@media only screen and (max-width: 600px){
    .main-container{
        
        flex-direction: column;
    }
    
  
  
  }

.container{
    padding: 0px 15px 0px 15px;
    background-color: #ffffff;
    color:#412BB5;
    border:1px solid#412BB5
    
    
}



h1, a, button{
    text-align: center;
}

button{
  
    background-color: #412BB5;
  color: white;
  border: 1px solid #fff;
  padding: 10px 10px;
 
  font-size: 14px;
  margin-top: 2em;
  cursor:pointer;
      
  }

  button:hover{
      background-color: #fff;
      color:#412BB5;
      border: 1px solid #412BB5;
  }