.main-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

@media only screen and (max-width: 600px){
    .main-container{
        
        flex-direction: column;
    }
    
  .documentation{
      color:black
  }
  
  }

.container{
    padding: 0px 15px 0px 15px;
    background-color: #ffffff;
    color:black;
    
    
    
}

.tutor-btn{
        
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
    padding: 10px 10px;
   
    font-size: 14px;
    margin-top: 2em;
    cursor:pointer;
        
}

h1 {
    text-align: center;
    color:black;
    
}



